.env
gradecards/ak8102347910@gmail.com.pdf
gradecards/Akyadav5769@gmail.com .pdf
gradecards/alok_kumar@liet.in.pdf
gradecards/amankumarbtech23-27@liet.in.pdf
gradecards/amans64788@gmail.com.pdf
gradecards/amansingh1btech23-27@liet.in.pdf
gradecards/amrendraramtripathibtech23-27@liet.in.pdf
gradecards/ansh.gup067@gmail.com.pdf
gradecards/anshtyagi189@gmail.com.pdf
gradecards/anushkagarg2004@gmail.com.pdf
gradecards/anushkagargbtech23-27@liet.in.pdf
gradecards/anusingh99361634@gmail.com.pdf
gradecards/ayushpalbtech23-27@liet.in.pdf
gradecards/ayushsawbtech23-27@liet.in.pdf
gradecards/ayushsingh50593@gmail.com.pdf
gradecards/bits.jagat@gmail.com.pdf
gradecards/chetangoswami2006@gmail.com.pdf
gradecards/deepanshu3btech23-27@liet.in.pdf
gradecards/devashishdobhal@gmail.com.pdf
gradecards/devashishdobhal8@gmail.com.pdf
gradecards/Devashishdobhalbtech23-27@liet.in.pdf
gradecards/gs9910291@gmail.com.pdf
gradecards/gsinghakca@gmail.com.pdf
gradecards/gunjanchaudhary@liet.in.pdf
gradecards/happybtech23-27@liet.in.pdf
gradecards/harshitraibtech23-27@liet.in.pdf
gradecards/kanak.gup1234@gmail.com.pdf
gradecards/ksah9189@gmail.com.pdf
gradecards/kumarritik38269@gmail.com.pdf
gradecards/ky205426@gmail.com.pdf
gradecards/manishmishra9067@gmail.com.pdf
gradecards/mdmushroop@gmail.com.pdf
gradecards/MOHITbtech23-27@liet.in.pdf
gradecards/mohitkumar746185@gmail.com.pdf
gradecards/nan.pdf
gradecards/nileshsarkar430@gmail.com.pdf
gradecards/nishaguptabtech23-27@liet.in.pdf
gradecards/ns977440@gmail.com.pdf
gradecards/piyushsingh1982004@gmail.com.pdf
gradecards/prateekraibtech23-27@liet.in.pdf
gradecards/premkumarjhabtech23-27@liet.in.pdf
gradecards/pushpendrayadav8434@gmail.com.pdf
gradecards/rahulyadavbtech23-27@liet.in.pdf
gradecards/rohitkumarbtech23-27@liet.in.pdf
gradecards/Sakshichauhanbtech23-27@liet.in.pdf
gradecards/sanskarbtech23-27@liet.in.pdf
gradecards/satyanshrawatbtech23-27@liet.in.pdf
gradecards/shivamchaudharybtech23-27@liet.in.pdf
gradecards/shivangipandeyabc@gmail.com.pdf
gradecards/sonukumarbtech23-27@liet.in.pdf
gradecards/sringanisinghbtech23-27@liet.in.pdf
gradecards/tarunpandit885@gmail.com.pdf
gradecards/vaibhavmishrabtech23-27@liet.in.pdf
gradecards/vipulpandeybtech23-27@liet.in.pdf
gradecards/vishujeetrathor@gmail.com.pdf
gradecards/Vivekyadavbtech23-27@liet.in.pdf
gradecards/Vivekyadavbtech23-37@liet.in.pdf
gradecards/vk9491015@gmail;.com.pdf
gradecards/Vk9491015@gmail.com.pdf
gradecards/yadavshreyanshi022@gmail.com.pdf
gradecards/yadavshreyanshi772@gmail.com.pdf
gradecards/yashbansal216@gmail.com.pdf
data/processed/email_status.csv
data/processed/master_performance.csv
data/processed/module_summary.csv
data/processed/rankings.csv
data/processed/student_feedback.csv
data/quizzes/Quiz 2_16_6_26.csv
data/quizzes/Quiz 3_17_6_26.csv
data/quizzes/Quiz1_15_6_26.csv
